<div align="center">

    <h1 *ngIf="form.data.id">Update User</h1>
    <h1 *ngIf="!form.data.id">Add User</h1>
    <h3 style="color: red">{{form.errorMsg}}</h3>
    <h3 style="color: green">{{form.successMsg}}</h3>
    <form (submit)="save()">
        <table>
            <tr>
                <th>First Name:</th>
                <td><input type="text" name="firstName" [(ngModel)]="form.data.firstName"
                        placeholder="Enter your first name"></td>
                <td style="color: red;">{{form.inputerror.firstName}}</td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><input type="text" name="lastName" [(ngModel)]="form.data.lastName"
                        placeholder="Enter your last name">
                </td>
                <td style="color: red;">{{form.inputerror.lastName}}</td>
            </tr>
            <tr>
                <th>Login Id:</th>
                <td><input type="text" name="login" [(ngModel)]="form.data.login" placeholder="Enter your loginId"></td>
                <td style="color: red;">{{form.inputerror.login}}</td>
            </tr>
            <tr>
                <th>Password:</th>
                <td><input type="password" name="Password" [(ngModel)]="form.data.password"
                        placeholder="Enter your password"></td>
                <td style="color: red;">{{form.inputerror.password}}</td>
            </tr>
            <tr>
                <th>Date Of Birth:</th>
                <td><input type="date" name="dob" [(ngModel)]="form.data.dob" placeholder="Enter your date of birth">
                </td>
                <td style="color: red;">{{form.inputerror.dob}}</td>
            </tr>
            <tr>
                <th>Role Id:</th>
                <td>
                    <select name="roleId" [(ngModel)]="form.data.roleId">
                        <option value="undefined">------------Select------------</option>
                        <option *ngFor="let obj of form.preload.roleList" [value]="obj.key">{{obj.value}}</option>
                    </select>
                </td>
                <td style="color: red;">{{form.inputerror.roleId}}</td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>
</div>